body{
    background-color: #e4e6eb;
}

.navbar-expand-lg{
    background-color: rgb(0, 195, 255);
}

.navbar-brand{
    img{
        max-height: 60px;
    }
}

.btn-login{
    background-color: #071c4d;
    color: #fff;

    &:hover{
        background-color: #1e3771;
        color: #fff;
    }
}

